<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CheckListReactive.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>509A49731DF68DCB0020D1A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>509A498C1DF68DCB0020D1A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>509A49971DF68DCB0020D1A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
